<ion-header translucent="true" id="navbar">
  <ion-toolbar>
    <ion-button fill="clear" id="back-btn">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="serie-cover"></div>

  <main role="main">
    <section id="serie-info">
      <ion-fab id="favorite-serie">
        <div id="star-container">
          <ion-icon name="star"></ion-icon>
        </div>

        <span>Fav</span>
      </ion-fab>

      <h1 id="serie-title">Brooklyn 99 <span>2013</span></h1>
      <h2 id="serie-subtitle">Brooklyn Nine-Nine</h2>

      <div class="flex-row" id="serie-details">
        
        <ion-chip id="recommended-age">
          <ion-label>
            14
          </ion-label>
        </ion-chip>
        <ion-chip id="quality">
          <ion-label>
            HD
          </ion-label>
        </ion-chip>
      </div>
    </section>

    <div id="serie-description">
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed efficitur sem. Sed luctus, tortor nec ultrices euismod, sem metus lacinia metus, vitae dignissim augue sapien quis justo. Integer non mi nec sem sagittis vulputate. Sed nunc erat, porttitor nec nisl eu, molestie ornare metus. Nunc convallis, mauris ac volutpat vestibulum, dolor libero varius ligula, vitae consectetur felis diam sed nibh. Mauris nec neque molestie, venenatis dolor sit amet, sollicitudin erat. Etiam lacus mauris, suscipit nec iaculis et, finibus non enim. Duis accumsan ante eget dui pellentesque, nec convallis nibh malesuada.</p>
    </div>

    <div id="serie-sinopse">
      <h3>Sinopse</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis mattis enim vitae commodo. Donec luctus, est vitae sollicitudin vestibulum, nisl nulla blandit mauris, in ornare felis dui non erat. Aliquam porttitor, libero eu bibendum lacinia, nisi felis pulvinar metus, gravida auctor massa urna nec lorem. Nulla sit amet mauris pretium, dignissim augue non, vulputate tellus. Nunc viverra enim turpis, nec elementum mi vehicula gravida. Maecenas ut diam placerat sapien efficitur convallis. Curabitur lectus sapien, luctus eu turpis et, congue ullamcorper eros. Nunc efficitur sagittis accumsan. In tincidunt nisi et consectetur tempus. Donec eu consectetur erat. Sed nec metus in quam sodales ultricies id id massa. Quisque id magna pulvinar neque semper lobortis non nec nisi. Vivamus nec nisl ac ligula porta laoreet eu sed urna. Maecenas hendrerit quam a justo dictum congue. Aenean consequat purus neque, id rutrum nisi consequat vitae. Vivamus porta diam vel commodo placerat.</p>
    </div>
  </main>
</ion-content>
