* {
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 20px 5%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

ion-toolbar {
    --opacity: .5;
    --background: #222A33;

    #back-btn {
        --color: #6C7181;
        background-color: transparent;
    }
}

#serie-cover {
    width: 100%;
    min-height: 65vh;

    //https://observatoriodocinema.uol.com.br/wp-content/uploads/2021/08/brooklyn-nine-nine-1200x900-1.jpg

    background-image: url(https://falauniversidades.com.br/mrf4u/statics/i/ps/cdn.falauniversidades.com.br/wp-content/uploads/2021/09/06124422/brooklyn-nine-nine.png), linear-gradient(180deg, #29323D33, #29323D99, #29323DB3, #29323DFF);
    background-blend-mode: overlay;
    background-position: top center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;

    background-color: #29323DB3;
    backdrop-filter: blur(8px);

    margin-top: -15vh;

    width: 100%;

    padding: 20px 40px;

    border-radius: 52px 52px 0 0;

    #serie-info {
        position: relative;

        #favorite-serie {
            z-index: 2;
            
            outline: none;

            box-shadow: 4px 4px 2px #1d2229;

            position: absolute;
            top: -10vh;
            right: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: #F73A43;

            padding: 4px 4px 20px 4px;

            border-radius: 40px;

            #star-container {
                width: 40px;
                height: 40px;

                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;
                
                background-color: #333F4C;

                transition: all .25s;
            }

            #star-container:hover {
                transform: scale(1.025);
            }

            > span {
                margin-top: 8px;
            }
        }
    }

    #serie-title {
        font-size: 24px;
        font-weight: 700;

        letter-spacing: 1.2px;

        span {
            &::before {
                content: "(";
            }

            color: #6C7181;
            font-size: 20px;

            &::after {
                content: ")";
            }
        }
    }

    #serie-subtitle {
        color: #6C7181;
        font-size: 16px;
    }

    #serie-details {
        margin-top: 12px;

        > * {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 12px;
            font-weight: 500;

            padding: 4px 8px;
            border-radius: 8px;

            &:not(:first-of-type) {
                margin-left: 16px;
            }
        }

        > #recommended-age {
            background-color: #7F848B33;
            border: 2px solid #7F848B;

            &::after {
                content: "+";
                margin-left: 4px;
            }
        }

        > #quality {
            background-color: #7F848B;
        }
    }

    section {
        display: block;

        h3 {
            margin-top: 40px;

            color: #F7F7F7;
        }

        p {
            margin-top: 0;

            color: #65696F;

            font-weight: 500;
        }
    }
}