ion-card {
  --background: #222a33;
  border: 1px solid #222a33;

  &:active {
    --background: #2B3540;

    border: 1px solid #60768F;
  }

  ion-card-subtitle {
    color: #6C7181;

    margin-top: 4px;
  }

  p {
    margin-top: 16px;

    font-size: 16px;
  }

  box-shadow: 2px 2px #1B2229;
  border-radius: 16px;

  transition: all .35s;
}